body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #2874f0;
    padding: 10px 20px;
    color: white;
    width: 100%;
    position: fixed; /* Keep it fixed at the top */
    top: 0; /* Align it to the top of the page */
    left: 0; /* Align it to the left edge */
    right: 0; /* Align it to the right edge */
    box-sizing: border-box; /* Include padding in width */
}

.navbar .brand {
    font-size: 1.5rem;
}
.navbar .brand small {
    color: yellow;
}
.navbar .brand small span {
    font-weight: bold;
}

.search-bar {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 20px;
}
.search-bar input[type="text"] {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}
.search-bar button {
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ffea00; 
}
.cart-icon {
    font-size: 1.3rem;
}