
*{
    font-size :20px;
    font-family: 'Courier New', Courier, monospace;
}

#car{
    color: gray ;
    border: 2px dotted green;
}

input[type="text"]{
    background-color: yellow;
}

.div1{
    color:blue ; 
    background-color: brown ;
}

p{
    color:purple;
    background-color: bisque;
}